<h2>VitalMovs</h2>
<form  [formGroup]="loginForm">

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username">
        </mat-form-field>
    <br>
    <br>
        <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password">
        </mat-form-field>
    <br>
    <br>
<button matButton="filled" type="button" (click)="Login()">Ingresar</button>

    <br>
    <br>

<button matButton="outlined" type="button" routerLink="/registro-usuario">
  Crear usuario
</button>
</form>