<div class="page-background">

  <div class="page-header">
    <h2 *ngIf="!modoEdicion">Agregar plan de rehabilitación</h2>
    <h2 *ngIf="modoEdicion">Editar plan de rehabilitación</h2>
  </div>

  <form class="form-card" [formGroup]="planForm">

    <mat-form-field>
      <mat-label>Nombre del plan</mat-label>
      <input matInput formControlName="nombre">

      <span style="color: red;" *ngIf="planForm.get('nombre')?.hasError('required')">
        Campo requerido
      </span>
    </mat-form-field>

    <br><br>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>

      <span style="color: red;" *ngIf="planForm.get('descripcion')?.hasError('required')">
        Campo requerido
      </span>
    </mat-form-field>

    <br><br>

    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input
        matInput
        [matDatepicker]="pickerInicio"
        formControlName="fecha_inicio"
        [min]="fechaHoy">

      <mat-hint>MM/DD/YYYY</mat-hint>

      <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>

      <span style="color: red;" *ngIf="planForm.get('fecha_inicio')?.hasError('required')">
        Campo requerido
      </span>
    </mat-form-field>

    <br><br>

    <mat-form-field>
      <mat-label>Fecha de fin</mat-label>
      <input
        matInput
        [matDatepicker]="pickerFin"
        formControlName="fecha_fin"
        [min]="planForm.get('fecha_inicio')?.value || fechaHoy">

      <mat-hint>MM/DD/YYYY</mat-hint>

      <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>

      <span style="color: red;" *ngIf="planForm.get('fecha_fin')?.hasError('required')">
        Campo requerido
      </span>
    </mat-form-field>

    <br><br>
    <div class="actions">

      <button
        mat-stroked-button
        class="btn-texto-morado"
        (click)="guardarPlan()"> Grabar
      </button>

      <button
        mat-stroked-button
        class="btn-texto-morado"
        (click)="cancelar()">
        Cancelar
      </button>

    </div>

  

  </form>

</div>
