<mat-toolbar class="general">

  <div class="brand">
    <div class="logo-box">
      <img src="logo-vitalmovs.png" alt="Logo VitalMovs">
    </div>

    <div class="brand-text">
      <h1>VitalMovs</h1>
    </div>
  </div>

  <span class="example-spacer"></span>

  <nav class="nav-links">

    <a routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </a>
    
    <a *ngIf="rol === 'ROLE_ADMIN'" routerLink="/paciente/list-pacientes" >
      <mat-icon>accessible</mat-icon>
      <span>Pacientes</span>
    </a>

    <a *ngIf="rol === 'ROLE_ADMIN'" routerLink="/fisioterapeuta/list-fisioterapeutas">
      <mat-icon>medical_services</mat-icon>
      <span>Fisioterapeutas</span>
    </a>
    
    <a *ngIf="rol === 'ROLE_ADMIN'" routerLink="/tipo-discapacidad/list-tipos">
      <mat-icon >accessibility_new</mat-icon>
      <span>Discapacidades</span>
    </a>

    <a *ngIf="rol === 'ROLE_ADMIN'" routerLink="/fisioterapeuta/list-fisioterapeutas">
      <mat-icon>fitness_center</mat-icon>
      <span>Ejercicios</span>
    </a>

    <a *ngIf="rol != 'ROLE_ADMIN'" routerLink="/plan-rehabilitacion/list-planes">
      <mat-icon>assignment</mat-icon>
      <span>Planes</span>
    </a>

    <a *ngIf="rol != 'ROLE_ADMIN'" routerLink="/asignaciones/list-asignaciones">
      <mat-icon>person_add</mat-icon>
      <span>Asignaciones</span>
    </a>

    <a *ngIf="rol === 'ROLE_PACIENTE'" routerLink="/foros/list-foros">
      <mat-icon>groups</mat-icon>
      <span>Foro</span>
    </a>


  </nav>

  &nbsp;
    &nbsp;
    &nbsp;

  <a style="cursor: pointer;" (click)="Logout()" class="logout">
      <mat-icon>logout</mat-icon>
</a>


</mat-toolbar>
